* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overflow: hidden;
}


.mute-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1%;
    width: 50px;
    aspect-ratio: 1/1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='667' height='668' viewBox='0 0 667 668' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='333.451' cy='334.238' r='333.345' fill='%23FAEBD7'/%3E%3Cpath d='M65.6653 295.999C65.6653 279.43 79.0968 265.999 95.6653 265.999H185.342V402.477H95.6654C79.0968 402.477 65.6653 389.046 65.6653 372.477V295.999Z' fill='%2318202C'/%3E%3Cpath d='M99.8757 341.903C95.106 337.906 95.106 330.57 99.8757 326.573L256.347 195.455C262.856 190.001 272.77 194.628 272.77 203.119V465.357C272.77 473.848 262.856 478.475 256.347 473.021L99.8757 341.903Z' fill='%2318202C'/%3E%3Cpath d='M337.031 362.734C341.68 365.532 347.795 364.05 349.862 359.033C353.573 350.026 355.232 340.26 354.66 330.452C354.089 320.644 351.307 311.137 346.575 302.622C343.939 297.879 337.693 297.118 333.4 300.437V300.437C329.108 303.757 328.434 309.902 330.755 314.807C333.235 320.049 334.703 325.746 335.043 331.595C335.384 337.445 334.589 343.274 332.734 348.768C330.998 353.91 332.382 359.935 337.031 362.734V362.734Z' fill='%2318202C'/%3E%3Cpath d='M394.589 371.585C400.682 375.253 408.697 373.31 411.406 366.735C416.271 354.931 418.444 342.131 417.695 329.276C416.946 316.422 413.3 303.961 407.098 292.802C403.643 286.586 395.457 285.587 389.831 289.938V289.938C384.205 294.288 383.322 302.343 386.364 308.771C389.615 315.642 391.538 323.108 391.985 330.775C392.431 338.442 391.389 346.08 388.958 353.282C386.683 360.02 388.496 367.917 394.589 371.585V371.585Z' fill='%2318202C'/%3E%3Cpath d='M463.583 390.084C472.694 395.568 484.679 392.664 488.73 382.831C496.004 365.18 499.254 346.041 498.134 326.819C497.014 307.596 491.563 288.964 482.288 272.277C477.122 262.982 464.881 261.489 456.469 267.995V267.995C448.056 274.5 446.735 286.544 451.284 296.157C456.145 306.43 459.02 317.594 459.688 329.059C460.357 340.524 458.798 351.946 455.162 362.715C451.761 372.79 454.472 384.599 463.583 390.084V390.084Z' fill='%2318202C'/%3E%3C/svg%3E%0A");

    z-index: 999;
}


@keyframes scroll-text {
    from {
        bottom: -10%;
    }
    to {
        bottom: 110%
    }
}

.scroll-text {
    position: absolute;
    width: 100%;
    height: fit-content;
    
    font-size: 10vw;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(228, 208, 181, 0.5);

    bottom: 25%;
    text-align: center;

    animation-name: scroll-text;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.intro-screen {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: #2a3749;
    cursor: none;
}
@keyframes intro-screen-slide {
    from {
        left: 0
    }
    to {
        left: 100%
    }
}
.intro-buttons-slide-class {
    animation-name: intro-screen-slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes intro-button-fall {
    from {
        top: 50%;
    }
    to {
        top: 150%;
    }
}
.intro-buttons-fall-class {
    animation-name: intro-button-fall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.intro-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    width: 20vw;
    aspect-ratio: 2/1;
}
.intro-button {
    position: absolute;
    aspect-ratio: 2/1;
    width: 100%;

    background-color: antiquewhite;
    border-radius: 10px;

    transition: 0.1s ease-in;
}
.intro-button:hover {
    top: 10px;
}
.intro-button-back {
    position: absolute;
    top: 15px;

    width: 100%;
    aspect-ratio: 2/1;

    background-color: rgba(250, 235, 215, 0.494);
    border-radius: 10px;
}
.intro-button-txt {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;

    color: #2a3749;
}


.floor-num {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0.6%;

    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;

    z-index: 999;
    cursor: none;
}

.fighting-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #101621 25%, #0e131a 25%, #0e131a 50%, #101621 50%, #101621 75%, #0e131a 75%, #0e131a 100%);
    background-size: 60.00px 60.00px;
    cursor: none;
}
.crosshair {
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;

    translate: -50% -50%;
    z-index: 999;
    pointer-events: none;
}

.hands {
    position: absolute;
    width: 100vw;
    height: 100vh;
    translate: -50% 0;
    pointer-events: none; 
    transition: 0.35s ease-out;

    z-index: 999;
}
.leftHand {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    background-image: url("images/leftHand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.rightHand {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    background-image: url("images/rightHand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.villain {
    position: absolute;
    left: 50%;
    bottom: 25%;
    height: 20vw;
    aspect-ratio: 3/4;
    translate: -50%;

    background-image: url("images/vilains/oingo-boingo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.for-ground {
    position: absolute;
    width: 100vw;
    height: 25%;
    bottom: 0;
    left: 0;
    background-color: #18202c;
}

.menacing-rain {
    position: absolute;
    top: -10%;
    width: 70px;
    aspect-ratio: 1/1;

    animation-name: menacing-rain-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear;

    background-image: url("images/menacing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes menacing-rain-animation {
    from {
        top: -10%
    }
    to {
        top: 100%
    }
}


/* heading: */

.heading {
    position: absolute;
    width: 80vw;
    height: 10vh;
    top: 0;
    left: 50%;
    translate: -50%;
    margin-top: 1%;
    border-top: antiquewhite 2px dashed;
    border-bottom: antiquewhite 2px dashed;
    border-radius: 15px;

    z-index: 998;
}
.heading-inner {
    position: relative;
    margin-left: 5%;
    width: fit-content;
    height: fit-content;
    top: 50%;
    translate: 0 -50%;
    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    float: left;
}

.hover-to-shop, .hover-to-music {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100vw - 4px);
    height: 5vh;
    background-color: transparent;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px antiquewhite dashed;
    border-bottom: none;

    z-index: 998;
}

.hover-text {
    position: absolute;
    height: fit-content;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
    text-align: center;

    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

/* shopping area */

.shopping-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1f2937;
    cursor: auto;
}
.hover-to-fight, .hover-to-shop-up {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100vw - 4px);
    height: 5vh;
    background-color: transparent;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px antiquewhite dashed;
    border-top: none;

    cursor: pointer;

    z-index: 998;
}




/* music area */

.music-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1f2937;
    cursor: auto;

    cursor: pointer;
}