* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overflow: hidden;
}

.mute-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1%;
    width: 3vw;
    aspect-ratio: 1/1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 998;
    cursor: none;
}


@keyframes scroll-text {
    from {
        bottom: -10%;
    }
    to {
        bottom: 110%
    }
}

.scroll-text {
    position: absolute;
    width: 100%;
    height: fit-content;
    
    font-size: 10vw;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(228, 208, 181, 0.5);

    bottom: 25%;
    text-align: center;

    animation-name: scroll-text;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.intro-screen {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: #2a3749;
    cursor: none;
}
@keyframes intro-screen-slide {
    from {
        left: 0
    }
    to {
        left: 100%
    }
}
.intro-buttons-slide-class {
    animation-name: intro-screen-slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes intro-button-fall {
    from {
        top: 50%;
    }
    to {
        top: 150%;
    }
}
.intro-buttons-fall-class {
    animation-name: intro-button-fall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.intro-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    width: 20vw;
    aspect-ratio: 2/1;
}
.intro-button {
    position: absolute;
    aspect-ratio: 2/1;
    width: 100%;

    background-color: antiquewhite;
    border-radius: 10px;

    transition: 0.1s ease-in;
}
.intro-button:hover {
    top: 10px;
}
.intro-button-back {
    position: absolute;
    top: 15px;

    width: 100%;
    aspect-ratio: 2/1;

    background-color: rgba(250, 235, 215, 0.494);
    border-radius: 10px;
}
.intro-button-txt {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;

    color: #2a3749;
}


.floor-num {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0.6%;

    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;

    z-index: 999;
    cursor: none;
}

.fighting-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #101621 25%, #0e131a 25%, #0e131a 50%, #101621 50%, #101621 75%, #0e131a 75%, #0e131a 100%);
    background-size: 60.00px 60.00px;
    cursor: none;
}
.crosshair {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;

    translate: -50% -50%;
    z-index: 999;
    pointer-events: none;
}

.hands {
    position: absolute;
    width: 100vw;
    height: 100vh;
    translate: -50% 0;
    pointer-events: none; 
    transition: 0.35s ease-out;

    z-index: 999;
}
.leftHand {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    background-image: url("images/leftHand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.rightHand {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    background-image: url("images/rightHand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.villain {
    position: absolute;
    left: 50%;
    bottom: 25%;
    height: 20vw;
    aspect-ratio: 3/4;
    translate: -50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.for-ground {
    position: absolute;
    width: 100vw;
    height: 25%;
    bottom: 0;
    left: 0;
    background-color: #18202c;
}

.menacing-rain {
    position: absolute;
    top: -10%;
    width: 70px;
    aspect-ratio: 1/1;

    animation-name: menacing-rain-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear;

    background-image: url("images/menacing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes menacing-rain-animation {
    from {
        top: -10%
    }
    to {
        top: 100%
    }
}


/* heading: */

.heading {
    position: absolute;
    width: 80vw;
    height: 10vh;
    top: 0;
    left: 50%;
    translate: -50%;
    margin-top: 1%;
    border-top: antiquewhite 2px dashed;
    border-bottom: antiquewhite 2px dashed;
    border-radius: 15px;

    z-index: 998;
}
.heading-inner {
    position: relative;
    margin-left: 5%;
    width: fit-content;
    height: fit-content;
    top: 50%;
    translate: 0 -50%;
    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    float: left;
}

.hover-to-shop, .hover-to-music {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100vw - 4px);
    height: 5vh;
    background-color: transparent;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px antiquewhite dashed;
    border-bottom: none;

    z-index: 998;
}

.hover-text {
    position: absolute;
    height: fit-content;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
    text-align: center;

    color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

/* shopping area */

.shopping-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1f2937;
    cursor: auto;
}
.hover-to-fight, .hover-to-shop-up {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100vw - 4px);
    height: 5vh;
    background-color: transparent;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px antiquewhite dashed;
    border-top: none;

    cursor: pointer;

    z-index: 998;
}

.shopping-area-menu-one, .shopping-area-menu-two, .shopping-area-menu-three {
    position: absolute;
    width: 25vw;
    height: 80vh;
    top: 50%;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid antiquewhite;
}
.shopping-area-menu-one {
    left: 5vw;
    translate: 0 -50%;
}
.shopping-area-menu-two {
    left: 50%;
    translate: -50% -50%;
}
.shopping-area-menu-three {
    right: 5vw;
    translate: 0 -50%;
}

.shopping-area-menu-item-title {
    position: relative;
    left: 50%;
    top: 0;
    margin-top: 5%;
    translate: -50%;
    width: 80%;
    height: 10%;
    background-color: #39485f;
    border-radius: 10px;
    transition: 0.2s linear;

    cursor: pointer;
}
.shopping-area-menu-item-text-title {
    position: relative;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
    height: fit-content;
    text-align: center;

    color: antiquewhite;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: sans-serif;
}

.hover-arrow { position: relative; }
.shopping-area-menu-item-title:hover .hover-arrow { top: 3px }

.shopping-area-menu-item {
    position: relative;
    left: 50%;
    top: 0;
    margin-top: 5%;
    translate: -50%;
    width: 80%;
    height: 10%;
    background-color: antiquewhite;
    border-radius: 10px;
    transition: 0.2s linear;

    cursor: pointer;
}
.shopping-area-menu-item:hover {
    background-color: white;
}
.shopping-area-menu-item-text {
    position: relative;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
    height: fit-content;
    text-align: center;

    color: #18202c;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: sans-serif;
}


/* music area */

.music-area {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1f2937;
    cursor: auto;

    cursor: auto;
}


.volume-outer {
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    background-color: #0e131a;
    border-radius: 10px;
    margin: 1%;
}
.volume-title {
    position: relative;

    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
    color: antiquewhite
}
.volume-slider {
    position: relative;
    background: transparent;
    width: 100%;
}
.volume-slider::-webkit-slider-runnable-track {
    background-color: antiquewhite;
    border-radius: 51px;
    width: 100%
}

.music-box {
    position: absolute;
    width: 10vw;
    aspect-ratio: 1/1;

    left: 0;
    bottom: 0;
    margin: 1%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
    border: 2px dashed transparent;
    border-color: antiquewhite;
    border-radius: 10px;
}
@keyframes spin {
    from {
        rotate: 0deg
    }
    to {
        rotate: 360deg;
    }
}
.spin {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.music-disk {
    position: absolute;
    width: 60%;
    aspect-ratio: 1/1;

    left: 50%;
    top: 50%;
    translate: -50% -50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.music-box-title {
    position: absolute;
    left: 0;
    top: 0;
    translate: 0 -150%;
    width: 100%;
    height: fit-content;
    text-align: center;

    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
    color: antiquewhite
}